<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journals</title>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
    <h1><%= user.name %>'s Journal</h1>
    <a class="logout" href="/logout">Log Out</a>
    <% journals.forEach(function(e){%>
        <a href="/journals/<%=e._id%>">
            <%= e.title %>
        </a>

    <%}) %> 
    <br>
    <br>
    <br>
    <a class="entry" href="/journals/new">New Entry</a>
</body>
</html>