<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Journal App</title>
</head>
<body>
    <a class="mainp" href="/journals">Journals</a>
    <h1> New Journal Entry</h1>
    <form action="/journals" method="POST">
        <input placeholder="Title" name="title">
        <br>
        <textarea placeholder="Share your thoughts..." name="entry" id="" cols="60" rows="10"></textarea>
        <br>
        <button type="submit">Submit Entry</button>
    </form>
</body>
</html>