<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <title><%= title %></title>
</head>
<body>
    <h1 class="mpg">Welcome to Your Journal</h1>
    <% if (user) { %>
      <span class="greet">Hi <%= user.name %> </span>
      <br>
      <br>
      <a href="/journals">My Journal</a>
      <a class="logout" href="/logout">Log Out</a>

      <% } else { %>
        <a href="/auth/google"> Login with Google</a>

      <% } %>   
</body>
</html>